<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ajuda GESTTEC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body bgcolor="#CCCCFF">
    
    <p align="center">
    <img src="../icons/Cravid4_1.png" alt="GESTTEC" name="GESTTEC" width="300" height="300" align="absmiddle">
    </p>
    <h1 align = "center"  textcolor="red">Página em construção!</h1>
    
    
    
    
    
    
    
    <p align="center">Gesttec - Sistema de Gestão Técnico <br> Copyright@2017</p>
        
    </body>
</html>
